<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.css' integrity='sha512-hhSu9overYjKfSjPCtJW3688VHkfBh+W1pR5Mysll91bOJwGjYntytGTtVXb2aisFOaYXXDrO38NKXDRPJWu7A==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/main.css">
    <title>Post write</title>
</head>
<body>
    <%- include('nav.ejs') %>

    <div class="write-container container">
        <div class="row">
            <div class="write-box default-mt">
                    <form action="/list/edit/<%= result._id %>?_method=PUT" method="post" class="write-form">
                        <input name="title" value="<%= result.title %>">
                        <input name="content" value="<%= result.content %>">
                        <button type="submit">Edit</button>
                    </form>
            </div>
        </div>
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js' integrity='sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==' crossorigin='anonymous'></script>
    <script>
        $('.nav__menu-list').removeClass('active');
        $('.nav__menu-list:nth-child(2)').addClass('active');
    </script>
</body>
</html>