<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css' integrity='sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==' crossorigin='anonymous'/>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/main.css">
    <title></title>
</head>
<body>
    <header class="header-container">
        <a href="/" method="get">Mim Forum</a>
    </header>
    <div class="header-margin"></div>

    <nav class="navbar-container">
        <ul>
            <li class="nav__menu-list active">
                <a href="/" method="get">
                    <i class="fa-solid fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav__menu-list">
                <a href="/list/page/1" method="get">
                    <i class="fa-solid fa-list-ul"></i>
                    <span>Forum</span>
                </a>
            </li>
            <li class="nav__menu-list">
                <a href="/list/write" method="get">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <span>Post</span>
                </a>
            </li>
            <li class="nav__menu-list">
                <a href="/user/profile" method="get">
                    <i class="fa-solid fa-user"></i>
                    <span>Profile</span>
                </a>
            </li>
        </ul>
    </nav>
</body>
</html>